/usr/bin/env tctl install manifest management-plane-secrets \
  --elastic-password "$(kubectl --kubeconfig  ${kubeconfig} get secret tsb-es-elastic-user -o go-template='{{.data.elastic | base64decode}}' -n elastic-system)" \
  --elastic-username elastic \
  --elastic-ca-certificate "$(kubectl --kubeconfig  ${kubeconfig} get secret -n elastic-system tsb-es-http-ca-internal -o go-template='{{index .data "tls.crt" | base64decode}}')" \
  --ldap-bind-dn cn=admin,dc=tetrate,dc=io \
  --ldap-bind-password admin \
  --managementplane tsb \
  --postgres-password tsb-postgres-password \
  --postgres-username tsb \
  --tsb-admin-password ${tsbadminpassword} \
  --tsb-server-certificate "$(kubectl --kubeconfig  ${kubeconfig} get secret -n tsb tsb-server-cert -o go-template='{{index .data "tls.crt" | base64decode}}')" \
  --tsb-server-key "$(kubectl --kubeconfig  ${kubeconfig} get secret -n tsb tsb-server-cert  -o go-template='{{index .data "tls.key" | base64decode}}')" \
  --xcp-certs > ~/tctl/managementplanesecrets.yaml