{
  "cp_clusters": [
    {
      "cloud_provider": "aws",
      "name": "demo1",
      "region": "eu-west-1",
      "version": "1.24"
    },
    {
      "cloud_provider": "aws",
      "name": "demo2",
      "region": "eu-west-2",
      "version": "1.24"
    },
    {
      "cloud_provider": "azure",
      "name": "demo3",
      "region": "westeurope",
      "version": "1.24"
    },
    {
      "cloud_provider": "azure",
      "name": "demo 4",
      "region": "northeurope",
      "version": "1.24"
    },
    {
      "cloud_provider": "gcp",
      "name": "demo5",
      "region": "europe-west2",
      "version": "1.24"
    },
    {
      "cloud_provider": "gcp",
      "name": "demo6",
      "region": "europe-west2",
      "version": "1.24"
    }
  ],
  "dns_provider": "gcp",
  "mp_cluster": {
    "cloud_provider": "gcp",
    "name": "mp-demo",
    "region": "europe-west1",
    "tier1": false,
    "version": "1.24"
  },
  "name_prefix": "box-perf-bart",
  "tags": {
    "tetrate_owner": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/gcp/labels.md)",
    "tetrate_team": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/gcp/labels.md)"
  },
  "tsb": {
    "fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.<YOUR_AWS_ACCT_PREFIX>.sandbox.tetrate.io",
    "image_sync_apikey": "<TSB_REPO_APIKEY>",
    "image_sync_username": "<TSB_REPO_USERNAME>",
    "organisation": "tetrate",
    "password": "Tetrate123",
    "version": "1.7.0"
  }
}