{
    "cp_clusters": [
        {
            "cloud_provider": "aws",
            "name": "demo1",
            "region": "eu-west-1",
            "version": "1.24",
            "zones": [
                "eu-west-1a",
                "eu-west-1b"
            ]
        },
        {
            "cloud_provider": "aws",
            "name": "demo2",
            "region": "eu-west-1",
            "version": "1.24",
            "zones": [
                "eu-west-1b",
                "eu-west-1c"
            ]
        }
    ],
    "dns_provider": "aws",
    "mp_cluster": {
        "cloud_provider": "aws",
        "name": "demo1",
        "region": "eu-west-2",
        "version": "1.24",
        "zones": [
            "eu-west-2a",
            "eu-west-2b",
            "eu-west-2c"
        ]
    },
    "name_prefix": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>",
    "tetrate": {
        "owner": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/gcp/labels.md)",
        "team": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/gcp/labels.md)"
    },
    "tsb": {
        "fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.<YOUR_AWS_ACCT_PREFIX>.sandbox.tetrate.io",
        "image_sync_apikey": "<TSB_REPO_APIKEY>",
        "image_sync_username": "<TSB_REPO_USERNAME>",
        "organisation": "tetrate",
        "password": "Tetrate123",
        "version": "1.7.0"
    }
}