/usr/bin/env tctl config clusters set default --bridge-address ${tsb_mp_host}:8443 --tls-insecure
/usr/bin/env tctl config users set admin --org ${tsb_org} --username ${tsb_username} --password ${tsb_password} --tenant ${tsb_tenant}
/usr/bin/env tctl config profiles set default --cluster="default" --username="admin"
/usr/bin/env tctl config profiles set-current "default"
/usr/bin/env tctl apply -f ${cluster_name}-cluster.yaml
/usr/bin/env tctl install cluster-service-account --cluster ${cluster_name} > ${cluster_name}-service-account.jwk
/usr/bin/env tctl x gitops grant ${cluster_name}