/usr/bin/env tctl config clusters set default --bridge-address ${tctl_host}:8443 --tls-insecure
/usr/bin/env tctl config users set admin --org ${tctl_org} --username ${tctl_username} --password ${tctl_password} --tenant ${tctl_tenant}
/usr/bin/env tctl config profiles set default --cluster="default" --username="admin"
/usr/bin/env tctl config profiles set-current "default"
/usr/bin/env tctl apply -f ~/tctl/${cluster_name}-cluster.yaml
/usr/bin/env tctl install manifest cluster-operators --registry ${registry} > ~/tctl/${cluster_name}-clusteroperators.yaml
/usr/bin/env tctl install manifest control-plane-secrets \
    --elastic-password ${es_password} \
    --elastic-username ${es_username} \
    --elastic-ca-certificate ${es_cacert} \
    --cluster ${cluster_name} \
    --controlplane istio-system \
    --xcp-certs "$(tctl install cluster-certs --cluster ${cluster_name} -k ~/${mp_cluster_name}-kubeconfig )" > ~/tctl/${cluster_name}-controlplane-secrets.yaml