---
apiVersion: api.tsb.tetrate.io/v2
kind: Cluster
metadata:
  name: ${cluster_name}
  organization: ${tsb_org}
spec:
  tokenTtl: "8760h"
  tier1Cluster: ${tier1_cluster}
  locality:
    region: ${locality_region}