image:
  tag: ${tsb_version}
  registry: ${registry}
secrets:
  elasticsearch:
    username: ${es_username}
    password: ${es_password}
  clusterServiceAccount:
    clusterFQN: ${serviceaccount_clusterfqn}
    JWK: '${serviceaccount_jwk}'
operator:
    deployment:
      env:
      - name: CONTROL_PLANE_REVISION
        value: tsb-stable
spec:
  hub: ${registry}
  telemetryStore:
    elastic:
      host: ${es_host}
      port: 9200
      version: 7
      protocol: https
      selfSigned: true
  managementPlane:
    host: ${tsb_fqdn}
    port: 8443
    clusterName: ${cluster_name}
    selfSigned: true
  components:
    xcp:
      centralAuthMode: JWT
      revision: 'tsb-stable' 
    gitops:
      enabled: true
      reconcileInterval: 600s
    internalCertProvider:
        certManager:
          managed: EXTERNAL
    oap:
      streamingLogEnabled: true  
  meshExpansion: {}