apiVersion: v1
kind: Namespace
metadata:
  name: ratelimit
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratelimit-redis
  namespace: ratelimit
  labels:
    app: ratelimit-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ratelimit-redis
  template:
    metadata:
      labels:
        app: ratelimit-redis
    spec:
      containers:
      - image: tetrate/redis:7.0.5-alpine
        command:
        - redis-server
        args:
        - --requirepass
        - ${password}
        imagePullPolicy: IfNotPresent
        name: redis
        resources:
          limits:
            cpu: 1500m
            memory: 512Mi
          requests:
            cpu: 200m
            memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: ratelimit-redis
  namespace: ratelimit
  labels:
    app: ratelimit-redis
spec:
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app: ratelimit-redis
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ratelimit-redis
  namespace: ratelimit
spec:
  policyTypes:
  - Ingress
  ingress:
  - ports:
    - protocol: TCP
      port: 6379
  podSelector:
    matchLabels:
      app: ratelimit-redis
