{
    "name_prefix": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>",
    "tsb_fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.azure.cx.tetrate.info",
    "tsb_version": "1.6.0",
    "tsb_image_sync_username": "<TSB_REPO_USERNAME>",
    "tsb_image_sync_apikey": "<TSB_REPO_APIKEY>",
    "tsb_password": "Tetrate123",
    "tsb_mp": {
        "cloud": "azure",
        "cluster_id": 0
    },
    "tsb_org": "tetrate",
    "aws_k8s_regions": [
    ],
    "azure_k8s_regions": [
        "eastus"
    ],
    "gcp_k8s_regions": [
        "us-west1",
        "us-east1"
    ],
    "tetrate_owner": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/misc/tags.md)",
    "tetrate_team": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/misc/tags.md)"
}

