{
  "cp_clusters": [
    {
      "cloud_provider": "aws",
      "name": "demo1",
      "region": "eu-west-1",
      "version": "1.24",
      "zones": []
    },
    {
      "cloud_provider": "azure",
      "name": "demo2",
      "region": "eastus",
      "version": "1.24",
      "zones": []
    },
    {
      "cloud_provider": "gcp",
      "name": "demo3",
      "region": "us-east1",
      "version": "1.24",
      "zones": []
    },
    {
      "cloud_provider": "gcp",
      "name": "demo4",
      "region": "us-west1",
      "version": "1.24",
      "zones": []
    }
  ],
  "dns_provider": "aws",
  "mp_cluster": {
    "cloud_provider": "aws",
    "name": "mp-demo",
    "region": "eu-west-1",
    "tier1": true,
    "version": "1.24",
    "zones": []
  },
  "name_prefix": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>",
  "tags": {
    "tetrate_owner": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/misc/tags.md)",
    "tetrate_team": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/misc/tags.md)"
  },
  "tsb": {
    "fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.<YOUR_AWS_ACCT_PREFIX>.sandbox.tetrate.io",
    "image_sync_apikey": "<TSB_REPO_APIKEY>",
    "image_sync_username": "<TSB_REPO_USERNAME>",
    "organisation": "tetrate",
    "password": "Tetrate123",
    "version": "1.6.0"
  }
}
