{
  "k8s_clusters": {
    "aws": [],
    "azure": [
      {
        "region": "eastus",
        "tetrate": {
          "control_plane": true
        }
      }
    ],
    "gcp": [
      {
        "region": "us-east1",
        "tetrate": {
          "control_plane": true,
          "management_plane": true
        }
      },
      {
        "region": "us-west1",
        "tetrate": {
          "control_plane": true
        }
      }
    ]
  },
  "name_prefix": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>",
  "tetrate": {
    "fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.gcp.sandbox.tetrate.io",
    "image_sync_apikey": "<TSB_REPO_APIKEY>",
    "image_sync_username": "<TSB_REPO_USERNAME>",
    "organization": "tetrate",
    "password": "Tetrate123",
    "version": "1.7.0"
  }
}