{
    "name_prefix": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>",
    "dns_provider": "gcp",
    "tsb_fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.gcp.sandbox.tetrate.io",
    "tsb_version": "1.6.0",
    "tsb_image_sync_username": "<TSB_REPO_USERNAME>",
    "tsb_image_sync_apikey": "<TSB_REPO_APIKEY>",
    "tsb_password": "Tetrate123",
    "tsb_mp": {
        "cloud": "gcp",
        "cluster_id": 0
    },
    "tsb_org": "tetrate",
    "aws_k8s_regions": [
        "eu-west-1",
        "eu-west-1"
    ],
    "azure_k8s_regions": [
        "eastus",
        "eastus"
    ],
    "gcp_k8s_regions": [
        "us-east1",
        "us-east1"
    ],
    "tetrate_owner": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/misc/tags.md)",
    "tetrate_team": "Change me! (https://github.com/tetrateio/tetrate/blob/master/cloud/docs/misc/tags.md)"
}
