{
    "name_prefix": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>",
    "tsb_fqdn": "<YOUR UNIQUE PREFIX NAME TO BE CREATED>.gcp.cx.tetrate.info",
    "tsb_version": "1.6.0",
    "tsb_image_sync_username": "<TSB_REPO_USERNAME>",
    "tsb_image_sync_apikey": "<TSB_REPO_APIKEY>",
    "tsb_password": "Tetrate123",
    "tsb_mp": {
        "cloud": "gcp",
        "cluster_id": 0
    },
    "tsb_org": "tetrate",
    "aws_k8s_regions": [
        "eu-west-1"
    ],
    "azure_k8s_regions": [
        "eastus"
    ],
    "gcp_k8s_regions": [
        "us-east1",
        "us-west1"
    ],
    "tetrate_owner": "username",
    "tetrate_team": "function:team"
}
